@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
body {
	padding: 0;
	margin:0;
}

/*eid mubarak*/
section {
	height: 100vh;
	background: #000;
	width: all;
}

section:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#ff0000,#ffa500,#ffff00,#008000,#0000ff,#4b0082,#ee82ee);
	mix-blend-mode: color;
	pointer-events: none;
	
}

video, video.v2 {
	object-fit: cover;
	height: auto;
	width: auto;
}

h1{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 5em;
	font-family: 'Playball', cursive;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}
h4{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 65%;
	left: 25%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	font-size: 1em;
	font-family: 'Playball', cursive;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}
h4 span:nth-child(1) {
	color: #00ff00;
	animation-delay: 4s;
}
h4 span:nth-child(2) {
	color: #ff3300;
	animation-delay: 4.8s;
}
h4 span:nth-child(3) {
	color: #00FFFF;
	animation-delay: 5.3s;
}

h1 span, h4 span {
	opacity: 0;
	display: inline-block;
	animation: animate 1s linear forwards;
}

@keyframes animate {
	0%
	{
		opacity: 0;
		transform: rotateY(90deg);
		filter: blur(10px);
	}

	100%
	{
		opacity: 1;
		transform: rotateY(0deg);
		filter: blur(0);
	}
}

h1 span:nth-child(1)
{
	animation-delay: 1s;
	color: #ff0000;
}
h1 span:nth-child(2)
{
	animation-delay: 1.3s;
	color: #00ff00;
}
h1 span:nth-child(3)
{
	animation-delay: 1.7s;
	color: #00ccff;
}
h1 span:nth-child(4)
{
	animation-delay: 0;
}
h1 span:nth-child(5)
{
	animation-delay: 2s;
	color: #ff3300;
}
h1 span:nth-child(6)
{
	animation-delay: 2.5s;
	color: #00cc66;
}
h1 span:nth-child(7)
{
	animation-delay: 3s;
	color: #99cc00;
}
h1 span:nth-child(8)
{
	animation-delay: 3.5s;
	color: #ff99ff;
}
h1 span:nth-child(9)
{
	animation-delay: 4s;
	color: #99ff99;
}
h1 span:nth-child(10)
{
	animation-delay: 4.5s;
	color: #6666ff;
}
h1 span:nth-child(11)
{
	animation-delay: 5s;
	color: #66ffff;
}

.gap {margin-right: 15px;}

/*/eid mubarak*/

